<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header><h1>bienvenid@s a Mercado Liebre</h1>
    <div>
        <a href="file:///C:/Users/dmeza/Desktop/proyecto1/Public/views/home.html">Mi Mercado Liebre</a></div>
    <div><img src="../img/logo-mercado-liebre.png.svg" alt="logo mercado liebre" height="100" width="100"></div><h2>Busqueda</h2>
    <h3>Compra en cuotas y sin tarjeta de crédito</h3>
    
    </header>
    <section>
        <h4> Última Visita</h4>
        <nav>
            <ul>
                <li><a href="../img/img-cafetera-moulinex.png.jpg" alt= height="200" width="200">cafetera-moulinex $6.770 40%OFF</a></li>
                <li><a href="../img/img-macbook-pro-2019.png.jpg" alt= height="200" width="200">macbook-pro-2019 $230.000 20%OFF</a></li>
                <li><a href="../img/img-samsung-galaxy-s10.png.jpg" alt= height="100" width="100">Samsung Galaxy S10 $70.500 10%OFF</a></li>
                <li><a href="../img/img-tv-samsung-smart.png.jpg" alt=height="200" width="200">Smart Tv Samsung 43</a></li>
             </ul></nav>
             <section>
       <article>
        <nav>
            <li> Ofertas</li>
             <li>Tiendas Oficiales</li>
                <li>Vender</li>
                   <li>Ayuda</li>
                    <li>Creá tu Cuenta</li>
                      <li>Ingresá</li>
                        <li>Mis Compras <a href=""></a></li>
                        </ul> </nav></article>
                        </section> 
        <section>
                <h5>Productos Destacados</h5>
                <div>
                <img src="../img/img-cafetera-moulinex.png.jpg" alt="cafetera-moulinex" height="200" width="200">
                </div>
                <div>
                    <img src="../img/img-macbook-pro-2019.png.jpg"alt=" MacBook Pro 2019 $230.000 20%OFF" height="200" width="200">
                </div>
                <div>
                    <img src="../img/img-samsung-galaxy-s10.png.jpg"alt=" Samsung Galaxy S10 $70.500 10%OFF" height="100" width="100">
                </div>
                <div>
                    <img src="../img/img-tv-samsung-smart.png.jpg"alt=" Smart Tv Samsung 43" height="200" width="200">
                </div>
            </body>
            </html>
</section>
    
<footer>
    <section>
        <nav>
            <p>Trabaja con Nosotros</p>
            <p>Terminos y condiciones</p>
            <p>Ayuda</p>
            <p>Defensa del Consumidor</p>
        <ul><a href=""></a> <strong>paga con tarjeta o en efectivo</strong> 
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.y siempre es seguro</ul>
                
                <ul><a href=""></a> <strong>Envio Gratis desde $2.500</strong>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.
                </ul>
                <ul><a href=""></a> <strong>Seguridad, de principio a fin</strong>
                    No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegido
                    </ul>
                    <ul><a href=""></a> <strong>Copyright 1999-2020 Mercado Liebre S.R.L</strong>
                        </ul></nav>
    </section> </footer>
        
         
        
    
      
        
    
        

    
    