<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <h1>bienvenid@s a Mercado Liebre</h1>
        <div>
            <a href="file:///C:/Users/dmeza/Desktop/proyecto1/Public/views/home.html">Mi Mercado Liebre</a>
        </div>
        <div><img src="../img/logo-mercado-liebre.png.svg" alt="logo mercado liebre" height="100" width="100"></div>
        <h2>Busqueda</h2>
        <h3>Compra en cuotas y sin tarjeta de crédito</h3>

    </header>
    <section>
        <h4> Última Visita</h4>
        <nav>
            <ul>
                <li><a href="../img/img-cafetera-moulinex.png.jpg" alt=height="200" width="200">cafetera-moulinex $6.770
                        40%OFF</a></li>
                <li><a href="../img/img-macbook-pro-2019.png.jpg" alt=height="200" width="200">macbook-pro-2019 $230.000
                        20%OFF</a></li>
                <li><a href="../img/img-samsung-galaxy-s10.png.jpg" alt=height="100" width="100">Samsung Galaxy S10
                        $70.500 10%OFF</a></li>
                <li><a href="../img/img-tv-samsung-smart.png.jpg" alt=height="200" width="200">Smart Tv Samsung 43 $23.200 5%OFF</a>
                </li>
            </ul>
        </nav>
        <section>
            <article>
                <nav>
                    <li> Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                    <li>Creá tu cuenta</li>
                    <li>Mis Compras </li>
                    </ul>
                </nav>
            </article>
        <h5><strong>Productos Destacados</strong></h5>
        <p><strong>cafetera-moulinex $6.770 40%OFF</strong></p>
        <img src="../img/img-cafetera-moulinex.png.jpg" alt="cafetera-moulinex" height="100" width="100">
        <p><strong>MacBook Pro $230.000 20%OFF</strong></p>
        <img src="../img/img-macbook-pro-2019.png.jpg" alt="macbook-pro-2019" height="100" width="100">
        <p><strong>Samsung Galaxy S10 $70.000 10%OFF</strong></p>
        <img src="../img/img-samsung-galaxy-s10.png.jpg" alt="Samsung Galaxy S10"  height="75" width="75">
        <p><strong>Smartv Samsung 43" 23.200 5%OFF</strong></p>
        <img src="../img/img-tv-samsung-smart.png.jpg" alt="Smartv Samsung 43" height="100" width="100">
        </body>
<footer>
    <section>
        <nav>
            <div><a href="https://careers-meli.mercadolibre.com/?utm_campaign=site-mla&utm_source=mercadolibre&utm_medium=mercadolibre">Trabaja con Nosotros</a></div>
            <div><a href="https://www.mercadolibre.com.ar/ayuda/terminos-y-condiciones-de-uso_991">Terminos y Condiciones</a></div>
            <div><a href="https://www.mercadolibre.com.ar/ayuda">Ayuda</a></div>
            <div><a href="https://www.mercadolibre.com.ar/ayuda/Defensa-del-Consumidor_s20014">Defensa del Consumidor</a></div>

                <ul><strong>paga con tarjeta o en efectivo</strong>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.y siempre es
                seguro</ul></div>
                <ul><strong>Envio Gratis desde $2.500</strong>
                <div>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de
                Mercado Puntos.
                </ul></div>
                <ul><strong>Seguridad, de principio a fin</strong>
                <div>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre
                protegido
                </ul></div>
                <ul><strong>Copyright 1999-2020 Mercado Liebre S.R.L</strong>
               </ul>
        </nav>
    </section>
    </html>
</footer>