<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../Public/css/style.css">
     <script src="https://kit.fontawesome.com/6bfc81dbf9.js" crossorigin="anonymous"></script>
     <title>MercadoLiebre P1</title>
    
    </head>
    <body>
    <header class="main-header">
     <div class="main-header-top-bar">
    <img src="../Public/img/logo-mercado-liebre.png.svg"  alt="logo" class="logo">
    <h2 class="copy-header">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    compra en cuotas y sin tarjeta de crédito</h2></div>
                
    <a href="#" class="hamburguer-button">
    <i class="fa-solid fa-bars"></i></a>
                

    <nav class="main-navbar">
    <ul class="left-navbar">
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
    </ul>
    <ul class="right-navbar">
    <li><a href="#"> <i class="fa-solid fa-credit-card"></i>Creá tu cuenta</a> </li>
    <li><a href="#"> <i class="fa-solid fa-right-to-bracket"></i></i>Ingresá</a> </li>
    <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></i>Mis Compras</a> </li>
    </nav>

    
    


        
        <br>
    <main>
            <div>
                <ul>
                    <li type="none"> <b>Basado en tu última visita</b> </li>
               </div>
        <br>
            <section>
                <article>
                <div><img src="../Public/img/img-cafetera-moulinex.png.jpg" width="200"height="200" alt="Cafetera">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40 % off</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3></div>
                </article>
            </section>
        <br>
            <section>
                <article>
                <div id="Macbook"><img src="../Public/img/img-macbook-pro-2019.png.jpg" width="200" height="200" alt="MacBook">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </article>
            </section></div>
        <br>
            <section>
                <article>
                <div id="Samsung"><img src="../Public/img/img-samsung-galaxy-s10.png.jpg" width="200" height="200" alt="Samsung Galaxy S10">
                    <p class="precio">$70.500</p>
                    <p class=" descuentos">10% off</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </article>
            </section></div>
        <br>
            <section>
                <article>
                <div id="Smartv"><img src="../Public/img/img-tv-samsung-smart.png.jpg" width="200" height="200" alt="">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5 % off</p>
                    <h3 class="descripcion">SmarTv Samsung 43"</h3>
                </article>
            </section>  </div>
        <br>     
    </main>
    <footer>
            <section>
            <section> <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebrecash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
        <br>    
            <section>
            <section> <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $2500</h3>
                <p>Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productos.Es un beneficio de mercado puntos.</p>
            </section>  
        <br>
            <section>
            <section> <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta?¡Devolvélo!En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
            </section>      
</body>
</html>